* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.total {
  height: 75vh;
}

.btn {
  outline: none;
  border: 2px solid black;

  padding: 1rem .75rem;
  border-radius: 8px;
  font-size: 1.5rem;

  background-color: white;
  color: black;

  box-shadow: 0 4px black; 
  cursor: pointer;

  transition: 100ms;
}


.btn:active {
  position: relative;

  top: 3px;
  box-shadow: none;
}

.btn-click {
  height: 50vh;
}

.btn-upgrade {
  justify-content: space-around;
  height: 50vh;
}

.sub-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}